# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# =========================
# AWS Lambda build artifacts
# =========================
*.dist-info/
PIL/
pillow.libs/
*.so
*.zip

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# =========================
# Environment variables
# =========================
.env

# =========================
# macOS
# =========================
.DS_Store
